{% extends 'base.html.twig' %}

{% block title %}Amiibo index{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">List of my amiibo</h1>
    <div class="container mt-4 animate__animated animate__fadeInUp ">
        {% for amiibo in amiibos %}
            <div class="col-md-4 ">
                <div class="card jumbotron">
                    {% if amiibo.filename %}
                        <img class="amiiboimg" src="/images/amiibo/{{ amiibo.filename }}" alt="card-img-top">
                    {% endif %}

                    <div class="card-body">

                        <b>Name</b> : {{ amiibo.name }}<br>
                        <b>Serie</b> : {{ amiibo.serie }}<br>
                        <div class="mt-1">
                            <a href="{{ path('amiibo_edit', {'id': amiibo.id}) }}"
                               class="btn btn-outline-secondary btn-sm">edit</a>
                            <a href="{{ path('amiibo_delete', {'id': amiibo.id}) }}"
                               class="btn btn-outline-secondary btn-sm">delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

