{% extends 'base.html.twig' %}

{% block title %}New Amiibo{% endblock %}

{% block body %}
    <h1>Create new Amiibo</h1>


    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <div style="color: #718C00">
        {{ form_row(form.serie) }}
    </div>
    {{ form_row(form.imageFile) }}

    {{ form_row(form.save) }}

    {{ form_end(form) }}


    <a href="{{ path('amiibo_index') }}">back to list</a>
{% endblock %}
