<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MyList{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="">
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        {#         Renders a link tag (if your module requires any CSS)#}
        <link rel="stylesheet" href="assets/css/app.css">
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ path('home') }}">MyList</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu == 'amiibos' %} active {% endif %}"
                   href="{{ path('amiibo_index') }}">Amiibo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu == 'games' %} active {% endif %}"
                   href="{{ path('games') }}">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu == 'platforms' %} active {% endif %}"
                   href="{{ path('platforms') }}">Platforms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu != 'amiibos' %} d-none{% endif %}
                                    {% if current_menu is defined and current_menu == 'amiibos' %} active {% endif %}"
                   href="{{ path('amiibo_new') }}">Add amiibo</a>
            </li>

        </ul>
        <form class="form-inline">
            <div class="animate__animated animate__swing animate__delay-2s" style="color: white">Work in progress
            </div>
        </form>
    </div>
</nav>
{% block body %}

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}

</body>
</html>
